## 변수

### 자료형

In [1]:
a = 100

print(a) #10진수
print(bin(a)) #2진수
print(oct(a)) #8진수
print(hex(a)) #16진수

100
0b1100100
0o144
0x64

### 문자열

In [2]:
sentence = "Hi. " + "nice to meet you."
sentence

'Hi. nice to meet you.'

In [3]:
sentence.split()

['Hi.', 'nice', 'to', 'meet', 'you.']

In [4]:
sentence.find("nice") #존재할 때는 index

4

In [5]:
sentence.find("hello") #존재하지 않을 때는 -1

-1

In [6]:
sentence.replace(".", "!")

'Hi! nice to meet you!'

In [7]:
sentence.strip("Hi")

'. nice to meet you.'

## 자료구조

### 리스트

In [8]:
data_1 = [10, 20, 30, 40, 50]
data_2 = [5, 10, 15, 20, 25]

data_1 + data_2 #뒤에 붙여진다. 합쳐져서 하나의 리스트로

[10, 20, 30, 40, 50, 5, 10, 15, 20, 25]

In [9]:
data_list = [10, 20, 30, 40, 50, 60, 70]
data_list.append(80) #뒤에 추가

data_list

[10, 20, 30, 40, 50, 60, 70, 80]

In [10]:
data_list.insert(1, 15) #인덱스에 값 끼워넣기

data_list

[10, 15, 20, 30, 40, 50, 60, 70, 80]

In [11]:
data_list.remove(15) #값으로 삭제

data_list

[10, 20, 30, 40, 50, 60, 70, 80]

In [12]:
del data_list[0] #인덱스로 삭제

### 튜플

In [13]:
data = (1, 2, 3)

data

(1, 2, 3)

In [14]:
type(data) #튜플 자체가 타입

tuple

In [15]:
data[0] = 2 #튜플은 값을 변경할 수 없다. 에러

TypeError: 'tuple' object does not support item assignment

In [16]:
data = (1, 2, 3, 4, 4, 4)
data.count(4) #리스트에서도 count 쓸 수 있다.

3

In [17]:
data_1 = (1, 2, 3)
data_2 = (4, 5, 6)

data_1 + data_2 #뒤에 붙여진다.

(1, 2, 3, 4, 5, 6)

In [18]:
data_1 * 2 #반복. 곱셈이 아니다. 리스트에서도 동일

(1, 2, 3, 1, 2, 3)

### 셋

In [19]:
data = {100, 200, 300} #대괄호로도 set을 만들 수 있다.

type(data) #set은 순서나 index가 없다.

set

In [20]:
data.add(400)

data

{100, 200, 300, 400}

In [21]:
data.update([500, 600]) #대괄호로 써도 된다.

data

{100, 200, 300, 400, 500, 600}

In [22]:
data.remove(600) #리스트 처럼

data

{100, 200, 300, 400, 500}

In [23]:
data.clear() #초기화

data

set()

In [24]:
A = {100, 200, 300, 400, 500}
B = {100, 150, 200, 250, 300}

A.intersection(B) #교집합. A와 B 순서 바껴도 같은 결과

{100, 200, 300}

In [25]:
A.difference(B) #차집합

{400, 500}

In [26]:
A.union(B) #합집합. A와 B 순서 바껴도 같은 결과

{100, 150, 200, 250, 300, 400, 500}

In [27]:
A.symmetric_difference(B) #합집합에서 교집합을 뺀 나머지 집합

{150, 250, 400, 500}

###  딕셔너리

In [28]:
data = {"apple": 100, "orange": 200}

data["apple"] #Key가 없는 경우 오류.

100

In [29]:
data.get("apple") #Key가 없는 경우, None을 반환한다. 서브 스트링이랑 다른 점.

100

In [30]:
data["melon"] = 300 #추가

data

{'apple': 100, 'melon': 300, 'orange': 200}

In [31]:
data.pop("apple") #del로 지워도 된다.

data

{'melon': 300, 'orange': 200}

In [32]:
sorted(data) #key로 정렬 #list data.sort()로도 둘 다 가능하다.

['melon', 'orange']

In [33]:
sorted(data.values()) #value로 정렬

[200, 300]